.customOverlay  {
    background: rgba(36, 123, 160, 0.7) !important;
  }
  .customModal {
    background: #f0be63 !important;
    
  }

   .div_nav_top {
    
    margin-top: 0px;

   
   }
   .banner{
       width: 150px;
       margin-top: 40px;
       margin-right: 10px;

   }
   .img_2 {
       padding-left: 12px;
        width: 52px;
        height: 40px;
      
   }
   .img_12 {
       width: 52px;
       height: 40px;
   }


  